* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: Ubuntu, Helvetica, sans-serif;
}

nav {
	width: 100vw;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 99;
}

.userNavbar {
	color: #a2a2a2;
	background-color: #f8f8f8;
	display: flex;
	justify-content: space-between;
	/* align-items: baseline; */
	align-content: center;
	text-transform: uppercase;
	padding: 10px 10%;
	width: 100%;
}

.userNavbar a {
	color: #a2a2a2;
	text-decoration: none;
	font-weight: 800;
	font-size: 1.4rem;
	padding: 10px 10px;
	align-self: center;
}

.userNavbar a:hover {
	color: #589ec2;
}

.navLBorder {
	border-left: 1px solid rgba(0,0,0,.2);
	display: flex;
	align-items: center;
}

.navSearch {
	display: inline-flex;
	align-content: center;
	margin-bottom: 0;
	padding-left: 5px;
}

.navSearch input {
	padding: 10px;
	background: transparent;
	border: none;
	font: bold 1.4rem Ubuntu, Helvetica, sans-serif;
	color: #a2a2a2;
	text-transform: uppercase;
	max-width: 150px;
}

.navSearch input::placeholder {
	color: #a2a2a2;
	text-transform: uppercase;
	font-weight: 800;
	font-size: 1.4rem;
	padding: 10px 10px;
	opacity: 1;
	font-family: Ubuntu, Helvetica, sans-serif;
}

.searchSubmit {
	color: #a2a2a2;
	border: none;
	background: transparent;
}

.searchSubmit:hover {
	color: #589ec2;
	cursor: pointer;
}

.pilotNavbar {
	display: flex;
	justify-content: space-between;
	background-color: #ffffff;
	width: 100%;
	padding: 10px 10%;
	text-transform: uppercase;
}

.navBtn {
	font-size: 1.6rem;
	font-weight: bold;
	letter-spacing: 0.1rem;
	color: #000000;
	text-decoration: none;
	padding: 15px;
	margin: 20px 5px;
	border: 2px solid transparent;
}

.navBtn:hover, .navBtnActive {
	font-size: 1.6rem;
	font-weight: bold;
	letter-spacing: 0.1rem;
	color: #000000;
	text-decoration: none;
	padding: 15px;
	margin: 20px 5px;
	border: 2px solid #000000;
}

.navLeft {
	display: flex;
	align-items: center;
}

.navRight {
	display: flex;
	align-items: center;
}

header {
	margin-top: 56.9px;
	height: 100vh;
	min-height: 800px;
	width: 100%;
}

.heroImage {
	height: 89%;
	width: 100%;
	background-image: url("main-slide.webp");
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
	align-content: center;
}

.sliderContent {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	color: #ffffff;
	text-transform: uppercase;
}

.sliderContent h1 {
	font-size: 7.4rem;
	font-weight: 500;
	letter-spacing: 1.2rem;
	margin: 0;
}

.sliderContent p {
	font-size: 1.9rem;
	font-weight: 500;
	letter-spacing: 0.1rem;
	margin: 0;
}

.sliderBtn {
	font-size: 1.6rem;
	font-weight: 500;
	letter-spacing: 0.1rem;
	color: #ffffff;
	text-decoration: none;
	margin-top: 40px;
	padding: 10px;
	border: 2px solid #ffffff;
}

.sliderBtn:hover {
	background-color: #589ec2;
	border: 2px solid #589ec2;
}

.carouselBar {
	color:#ffffff;
	text-transform: uppercase;
	position: relative;
	top: -180px;
	padding: 0 10%;
}

.carouselContainer {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 20px;
}

.carouselContainer h2 {
	font-size: 4.2rem;
	font-weight: normal;
	margin: 0;
	max-width: 80%;
}

.carouselContainer h3 {
	font-size: 2.6rem;
	letter-spacing: .1rem;
	font-weight: lighter;
	margin: 0;
}

.carouselBox1 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 10px;
	padding: 20px;
	background-color: #3b3b3b;
	height: 240px;
}

.carouselBox2 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 10px;
	padding: 20px;
	background-color: #2d85b2;
	height: 240px;
}

.carouselBox3 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 10px;
	padding: 20px;
	background-color: #4dafd9;
	height: 240px;
}

main {
}

.sectionIntro {
	margin: 40px 0 40px;
}

.sectionIntro h2 {
	font-size: 1.9rem;
	font-weight: bolder;
	text-align: center;
	text-transform: uppercase;
	margin: 0;
}

.productGrid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	column-gap: 25px;
	row-gap: 50px;
	margin: 0 10%;
}

.productContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	border: 2px solid black;
}

.productTitle {
	font-size: 1.4rem;
	font-weight: bold;
	text-transform: uppercase;
}

.productDesc {
	font-size: 1.4rem;
	font-weight: normal;
}

.productPrice {
	font-size: 1.9rem;
	font-weight: bold;
	color: #589ec2;
	margin: 10px 0;
}

footer {
	padding: 40px 0;
}

.contactBtnFixed {
	position: fixed;
	bottom: 15px;
	right: 20px;
	text-decoration: none;
}

.contactBtn {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #ffffff;
	font-size: 1.8rem;
	background-color: #5ba0d0;
	padding: 15px 10px;
	border-radius: 20px;
	width: 165px;
	height: 65px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}