* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: Ubuntu, Helvetica, sans-serif;
}

nav {
	padding: 0 10%;
	width: 100vw;
	background-color: #f8f8f8;
}

.userNavbar {
	color: #a2a2a2;
	display: flex;
	justify-content: space-between;
	/* align-items: baseline; */
	align-content: center;
	text-transform: uppercase;
	padding: 10px 0;
}

.userNavbar a {
	color: #a2a2a2;
	text-decoration: none;
	font-weight: 800;
	font-size: 1.4rem;
	padding: 10px 10px;
}

.userNavbar a:hover {
	color: #589ec2;
}

.navLBorder {
	border-left: 1px solid rgba(0,0,0,.2);
}

.navSearch {
	display: inline-flex;
	align-content: center;
	margin-bottom: 0;
	padding-left: 5px;
}

.navSearch input {
	padding: 10px;
	background: transparent;
	border: none;
	font: bold 1.4rem Ubuntu, Helvetica, sans-serif;
	text-transform: uppercase;
}

.navSearch input::placeholder {
	color: #a2a2a2;
	text-transform: uppercase;
	font-weight: 800;
	font-size: 1.4rem;
	padding: 10px 10px;
	opacity: 1;
	font-family: Ubuntu, Helvetica, sans-serif;
}

.pilotNavbar {
	display: flex;
	justify-content: space-between;
}

.navLeft {
	display: flex;
	align-items: center;
}

.navRight {
	display: flex;
	align-items: center;
}

header {
}

.heroImage {
	min-height: 80%;
	background-image: url("main-slide.webp");
	background-size: cover;
}

.carouselBar {
	position: relative;
}

.carouselContainer {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 15px;
}

.carouselBox1 {
	background-color: #000000;
}

.carouselBox2 {
	background-color: #000000;
}

.carouselBox3 {
	background-color: #000000;
}

main {
}

.sectionIntro {
}

.productGrid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	column-gap: 15px;
}

.productContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

footer {
}

.contactBtnFixed {
	color: #ffffff;
	background-color: #5ba0d0;
	padding: 15px 10px;
	border-radius: 6px;
}
